In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# Observations and Insights
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [3]:
# read the mouse data
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
mouse_metadata_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [4]:
mouse_metadata_df.dtypes

Mouse ID        object
Drug Regimen    object
Sex             object
Age_months       int64
Weight (g)       int64
dtype: object

In [5]:
# rest the index
mouse_metadata_df = mouse_metadata_df.set_index('Mouse ID')

In [6]:
mouse_metadata_df.head()

         Drug Regimen     Sex  Age_months  Weight (g)
Mouse ID
k403         Ramicane    Male          21          16
s185        Capomulin  Female           3          17
x401        Capomulin  Female          16          15
m601        Capomulin    Male          22          17
g791         Ramicane    Male          11          16

In [7]:
# Read the study results
study_results_df = pd.read_csv(study_results_path)
study_results_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [8]:
study_results_df.dtypes

Mouse ID               object
Timepoint               int64
Tumor Volume (mm3)    float64
Metastatic Sites        int64
dtype: object

In [9]:
# rest the index
study_results_df = study_results_df.set_index('Mouse ID')

In [10]:
study_results_df.head()

          Timepoint  Tumor Volume (mm3)  Metastatic Sites
Mouse ID
b128              0                45.0                 0
f932              0                45.0                 0
g107              0                45.0                 0
a457              0                45.0                 0
c819              0                45.0                 0

In [11]:
# Combine the data into a single dataset
combined_study_df = pd.merge(mouse_metadata_df, study_results_df, on="Mouse ID", how="outer")

In [12]:
# Display the data table for preview
combined_study_df.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
k403,Ramicane,Male,21,16,0,45.000000,0
k403,Ramicane,Male,21,16,5,38.825898,0
k403,Ramicane,Male,21,16,10,35.014271,1
k403,Ramicane,Male,21,16,15,34.223992,1
k403,Ramicane,Male,21,16,20,32.997729,1

In [13]:
# variable to hold the count
mice_count = 0
  
# list to hold counted mice
counted = []
  
# loop for counting the unique
# values in height
for i in range(0, len(combined_study_df["Mouse ID"])):
    
    if df["Mouse ID"][i] not in counted: 
        
        counted.append(combined_study_df["Mouse ID"][i])
          
        cnt += 1
        
        print("unique values :",
      counted)

KeyError: 'Mouse ID'

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [ ]:
# Checking the number of mice in the clean DataFrame.

In [ ]:
# mean, median, variance, standard deviation, and SEM of the tumor volume.

In [ ]:
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

In [ ]:
# Using the aggregation method, produce the same summary statistics in a single line

In [ ]:
# Bar and Pie Charts
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

In [ ]:
# Quartiles, Outliers and Boxplots
# Calculate the final tumor volume of each mouse across four of the treatment regimens:

In [ ]:
# Capomulin, Ramicane, Infubinol, and Ceftamin

In [ ]:
# Start by getting the last (greatest) timepoint for each mouse

In [ ]:
# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)

In [ ]:
# Create empty list to fill with tumor vol data (for plotting)

In [ ]:
# Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
    # Locate the rows which contain mice on each drug and get the tumor volumes

In [ ]:
    # add subset

In [ ]:
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

In [ ]:
# Line and Scatter Plots
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

In [ ]:
# Correlation and Regression
# Calculate the correlation coefficient and linear regression model

In [ ]:
# for mouse weight and average tumor volume for the Capomulin regimen