In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# Observations and Insights
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [3]:
# Read the mouse data
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
# Read the study results
study_results_df = pd.read_csv(study_results_path)

In [4]:
# Combine the data into a single dataset
combined_study_df = pd.merge(mouse_metadata_df, study_results_df, on="Mouse ID", how="outer")

In [5]:
# Display the data table for preview
combined_study_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
# Checking the number of mice.
mice = combined_study_df["Mouse ID"].value_counts()
number_of_mice = len(mice)
number_of_mice

249

In [7]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mice = combined_study_df.loc[combined_study_df.duplicated(subset=['Mouse ID', 'Timepoint',]),'Mouse ID'].unique()
duplicate_mice

array(['g989'], dtype=object)

In [8]:
# Optional: Get all the data for the duplicate mouse ID. 
all_duplicate_mouse_id = pd.DataFrame(duplicate_mice)
all_duplicate_mouse_id

      0
0  g989

In [9]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = combined_study_df[combined_study_df['Mouse ID'].isin(duplicate_mice)==False]
clean_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [10]:
# Checking the number of mice in the clean DataFrame.
clean_mice=clean_df["Mouse ID"].value_counts()
clean_number_of_mice=len(clean_mice)
clean_number_of_mice

248

In [11]:
#  Summary Statistics
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
summary_df = clean_df.groupby('Drug Regimen')

# calculate the following properties of each drug regimen of each drug regimen:
tumor_vol_mean = summary_df["Tumor Volume (mm3)"].mean()
tumor_vol_median = summary_df["Tumor Volume (mm3)"].median()
tumor_vol_variance = summary_df["Tumor Volume (mm3)"].var()
tumor_vol_standard_deviation = summary_df["Tumor Volume (mm3)"].std()
tumor_vol_sem = summary_df["Tumor Volume (mm3)"].sem()

# Create a DatFrame to summarizes the findings
grouped_summary_df = pd.DataFrame({"Mean": tumor_vol_mean,
                                   "Median": tumor_vol_median,
                                   "Variance": tumor_vol_variance,
                                   "Standard Deviation": tumor_vol_standard_deviation,
                                   "Standard Error of the Mean:": tumor_vol_sem})

grouped_summary_df.head()

,Mean,Median,Variance,Standard Deviation,Standard Error of the Mean:
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466

In [36]:

drug_regimen_median = combined_study_df.groupby("Drug Regimen").median()["Tumor Volume (mm3)"]
drug_regimen_median

Drug Regimen
Capomulin    45.0
Ceftamin     45.0
Infubinol    45.0
Ketapril     45.0
Naftisol     45.0
Placebo      45.0
Propriva     45.0
Ramicane     45.0
Stelasyn     45.0
Zoniferol    45.0
Name: Tumor Volume (mm3), dtype: float64

In [37]:

drug_regimen_variance = combined_study_df.groupby("Drug Regimen").var()["Tumor Volume (mm3)"]
drug_regimen_variance

Drug Regimen
Capomulin    0.0
Ceftamin     0.0
Infubinol    0.0
Ketapril     0.0
Naftisol     0.0
Placebo      0.0
Propriva     0.0
Ramicane     0.0
Stelasyn     0.0
Zoniferol    0.0
Name: Tumor Volume (mm3), dtype: float64

In [38]:
drug_regimen_standard_deviation = combined_study_df.groupby("Drug Regimen").std()["Tumor Volume (mm3)"]
drug_regimen_standard_deviation

Drug Regimen
Capomulin    0.0
Ceftamin     0.0
Infubinol    0.0
Ketapril     0.0
Naftisol     0.0
Placebo      0.0
Propriva     0.0
Ramicane     0.0
Stelasyn     0.0
Zoniferol    0.0
Name: Tumor Volume (mm3), dtype: float64

In [39]:
drug_regimen_sem = combined_study_df.groupby("Drug Regimen").sem()["Tumor Volume (mm3)"]
drug_regimen_sem

Drug Regimen
Capomulin    0.0
Ceftamin     0.0
Infubinol    0.0
Ketapril     0.0
Naftisol     0.0
Placebo      0.0
Propriva     0.0
Ramicane     0.0
Stelasyn     0.0
Zoniferol    0.0
Name: Tumor Volume (mm3), dtype: float64

In [ ]:
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen:

In [ ]:
# mean, median, variance, standard deviation, and SEM of the tumor volume.

In [ ]:
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen